alias info='pinfo'
alias ycheat='vim ~/cheats/youtube-dl.txt'
alias yc='vim ~/cheats/youtube-dl-official.txt' 
alias du='du -sh'
alias lp='\ls'
alias lab='cd ~/.lab'
alias cdgit='cd ~/mygit'
alias cdcheats='cd ~/cheats'
#alias rsync='rsync -av'

alias nc='ncmpcpp'
alias top='htop'

alias vm='virt-manager'
alias screen=' import -window root screenshot.jpg'
alias pic='deepin-screenshot'

alias clean='rm -rf ~/.zcompdump*'
alias i3r='i3-msg restart'
alias i3man='vi ~/cheats/i3.txt'
alias rman='vi ~/cheats/ranger.txt'
alias vman='vi ~/cheats/vimperator.txt'
alias zshrc='vi ~/.zshrc'
alias zs='source ~/.zshrc'

alias vi='vim'
alias ls='ls -lhs'
alias i3config='vim ~/.config/i3/config'
alias i3blocks='vim ~/.i3blocks.conf'

alias main='vi /home/josepy/Dropbox/arch-custom/arch-custom.txt' 
