#!/usr/bin/env bash
alias ycheat='vim ~/cheats/youtube-dl.txt'
alias yc='vim ~/cheats/youtube-dl-official.txt' 
alias lab='cd ~/.lab'
alias cdgit='cd ~/mygit'
alias dots='cd ~/mygit/dotfiles'
alias docs='cd ~/mygit/dockerfiles/'
alias cheats='~/cheat-sheets/'
alias commit="git commit -m 'updated'"
alias add="git add ."

# Disk and sys
alias duh='du -sh'
alias df='df -hT'
alias free='free -hm'
alias info='pinfo'

alias foxitreader='FoxitReader'
alias nc='ncmpcpp'
alias top='htop'

alias screen=' import -window root screenshot.jpg'
alias pic='deepin-screenshot'

alias clean='rm -rf ~/.zcompdump*'
alias zshrc='vim ~/.zshrc'
alias zs='source ~/.zshrc'

# i3
alias i3config='vim ~/.config/i3/config'
alias i3blocks='vim ~/.i3blocks.conf'
alias i3env='cd ~/.config/i3/blocklets/'
alias i3r='i3-msg restart'

alias ssh='TERM=xterm  ssh'
alias hugoserve='cd ~/mysites/jmutai.com && hugo server'

# Git
alias push='git push -u origin master'

# Google dns set
alias dns='sudo setfacl -m u:josepy:rw /etc/resolv.conf && sudo echo nameserver 8.8.8.8 > /etc/resolv.conf'                            
alias dnss='cat /etc/resolv.conf'

# Rhev
alias s1s='ssh root@server1'
alias c1s='ssh root@client1'

# Virsh mgt
alias list='sudo virsh list --all'


# Package management
alias paci='pacaur --needed --noconfirm --noedit -S'
alias pacr='pacaur -Rns'
alias pacc='pacaur -Sc --noconfirm'
alias pacclean='sudo rm -rf /var/cache/pacman/pkg/*'
alias pacu='pacaur --needed --noconfirm --noedit -Syu'
alias pacs='pacaur -Ss'
alias pacqi='pacaur -Qi'
alias pacfix='sudo rm -f /var/lib/pacman/db.lck'
alias  vimcolors='cd ~/.vim/bundle/vim-colorschemes/colors'
alias pb='vim .config/polybar/config'

# dock
alias dockvim='vim ~/mygit/dotfiles/.docker_functions'

# system
alias failed='systemctl --failed --type=service'
alias ls='ls --color=auto'
alias dir='dir --color=auto'
alias vdir='vdir --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias myio='iostat -d -x 2 5' #extended device utilization
alias myps='ps -eo pmem,pcpu,rss,vsize,args | sort -k 1 -r | less'
alias lsconf='sudo find /etc -name "*.conf" | xargs ls –l'
alias mywget='cat urls.txt | xargs wget -c'
alias sshmacs='ssh -Q mac'

alias rafiki='ssh -X josepy@rafiki'
alias cdr='cd /srv/http/rafikihost'
alias site='cd ~/mysites/jmutai.com/'
alias notes='cd ~/mygit/dotfiles/cheat-sheets/certs/notes/'
alias virt='sudo mount /dev/sdb6 /home/josepy/Desktop/virt/'


alias sleep='sudo  /lib/systemd/systemd-sleep hybrid-sleep'
alias mutt='cd ~/Documents/mutt && mutt'

# Docker aliases
alias images='docker images'
alias ts='docker stop transmission; docker ps'
alias ds='docker-compose stop'
alias volumes='docker volume ls'
alias dps='docker-compose ps'

alias  mywifi='~/mygit/dotfiles/scripts/mynet.sh'
# youtubve-dl
alias ypa="youtube-dl  --write-auto-sub --ignore-errors --no-overwrites --embed-subs --download-archive=downloaded.txt \
    -o '%(playlist)s/%(title)s.%(ext)s'"
alias yv="youtube-dl  --write-auto-sub --ignore-errors --no-overwrites --embed-subs -f 22 -o  '%(title)s.%(ext)s'"

alias apache='sudo systemctl restart  httpd.service'
alias mypic='mycp ~/mysites/jmutai.com/pic.txt'
alias myvmstat='vmstat -S M 1 3'
alias mydate="date '+%Y-%m-%d-%H:%M:%S'"
alias rebuild="sudo vmware-modconfig --console --install-all"
alias myfs='sudo btrfs filesystem show'
alias virt='sudo umount /dev/sdb6; sudo mount /dev/sdb6  /home/josepy/Desktop/virt'
alias btrfs='sudo btrfs'
alias cups='systemctl start org.cups.cupsd.service'
alias vi='vim'
alias ks='sudo vim /srv/http/ks.cfg'
alias mycover='mycp ~/cheat-sheets/coverletter.txt'
alias mariadbs='docker exec -ti mariadb /bin/bash'
alias postdir='cd ~/mysites/jmutai.com/content/post/Feb-2017/'
alias ifdown='sudo ip link set "$1" down'
alias polyconf='vim ~/.config/polybar/config'

# System mgt
alias virsh='sudo virsh'
alias systemctl='sudo systemctl'
alias mysleep='sudo /lib/systemd/systemd-sleep hybrid-sleep'
alias jmutai='rsync -avz --delete public/* jmutaijose@rafiki:/web'
alias cover='mycp ~/cheat-sheets/coverletter.txt'
alias coreos1s='ssh  -p 2222  coreos1'
alias coreos2s='ssh  -p 2222  coreos2'
alias coreos3s='ssh  -p 2222  coreos3'


# tmux alias
tl () {
    echo ""
    tmux list-sessions
    echo -n ""
    echo ""
    echo "Tmux windows"
    tmux list-windows
}

alias ta='tmux a -t $1'
alias tk='tmux kill-session -t $1'
alias tc='tmux a -t $1'
alias tn='tmux new -s $1'

