#!/usr/bin/env bash
alias ycheat='vim ~/cheats/youtube-dl.txt'
alias yc='vim ~/cheats/youtube-dl-official.txt' 
alias lab='cd ~/.lab'
alias cdgit='cd ~/mygit'
alias dots='cd ~/mygit/dotfiles'
alias docs='cd ~/mygit/docker/dockerfiles/'
alias cheats='~/mygit/dotfiles/cheat-sheets/'
alias commit="git commit -m 'updated'"
alias add="git add ."

# Disk and sys
alias duh='du -sh'
alias df='df -hT'
alias free='free -hm'
alias info='pinfo'

alias foxitreader='FoxitReader'
alias nc='ncmpcpp'
alias top='htop'

alias screen=' import -window root screenshot.jpg'
alias pic='deepin-screenshot'

alias clean='rm -rf ~/.zcompdump*'
alias zshrc='vim ~/.zshrc'
alias zs='source ~/.zshrc'

# i3
alias i3config='vim ~/.config/i3/config'
alias i3blocks='vim ~/.i3blocks.conf'
alias i3env='cd ~/.config/i3/blocklets/'
alias i3r='i3-msg restart'

alias main='vim /home/josepy/Dropbox/arch-custom/arch-custom.txt' 
alias ssh='TERM=xterm  ssh'

# Git
alias push='git push -u origin master'

# Google dns set
alias dns='sudo setfacl -m u:josepy:rw /etc/resolv.conf && sudo echo nameserver 8.8.8.8 > /etc/resolv.conf'                            
alias dnss='cat /etc/resolv.conf'
# Rhev
alias rhevh='ssh rhevh'
alias rhevm='ssh rhevm'


# Package management
alias paci='pacaur -S'
alias pacr='pacaur -Rns'
alias pacc='pacaur -Sc --noconfirm'
alias pacu='pacaur -Syu'
alias pacs='pacaur -Ss'
alias pacqi='pacaur -Qi'
alias pacfix='sudo rm -f /var/lib/pacman/db.lck'

# dock
alias dockvim='vim ~/mygit/docker/docker_func'

# system
alias ls='ls --color=auto'
alias dir='dir --color=auto'
alias vdir='vdir --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

alias sleep='sudo  /lib/systemd/systemd-sleep hybrid-sleep'

# Docker aliases
alias images='docker images'
alias tip='dockip transmission'
alias ts='docker stop transmission; docker ps'
alias ds='docker-compose stop'
alias dockf='vim ~/mygit/docker/docker_func' 
alias volumes='docker volume ls'
alias dps='docker-compose ps'

# youtubve-dl
alias ypa="youtube-dl  --write-auto-sub --ignore-errors --no-overwrites --embed-subs --download-archive=downloaded.txt \
    -o '%(playlist)s/%(title)s.%(ext)s'"
alias yv="youtube-dl  --write-auto-sub --ignore-errors --no-overwrites --embed-subs -f 22 -o  '%(title)s.%(ext)s'"
