# Default editor and terminal
export EDITOR=/usr/bin/vim;
export TERMINAL="termite";

# History settings
export HISTSIZE=100000;
export HISTFILESIZE=$HISTSIZE;
export HISTCONTROL=ignoredups;

# Language and Locale settings
export LANG="en_US.UTF-8";
export LC_ALL="en_US.UTF-8";

# Highlight section titles in manual pages
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page
#export MANPAGER="less -X";



