[Unit]
Description= caddy service for docker
After=docker.service
Requires=docker.service


[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill caddy
ExecStartPre=-/usr/bin/docker rm caddy
ExecStartPre=/usr/bin/docker pull jmutai/caddy
ExecStart=/usr/bin/docker run \
    --name caddy \
    --rm \
    --network host \
    -v /var/www/html/:/var/www/html/
    -p 80:80 \
     jmutai/caddy \
     
ExecStop=/usr/bin/docker stop caddy
ExecStopPost=/usr/bin/docker rm -f caddy

[Install]
WantedBy=multi-user.target

