[Unit]
Description= caddy service for docker
After=docker.service
Requires=docker.service


[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill caddy-%i
ExecStartPre=-/usr/bin/docker rm caddy-%i
ExecStartPre=/usr/bin/docker pull jmutai/caddy
ExecStart=/usr/bin/docker run --name caddy --rm -v /var/www/html/:/var/www/html/ -p 80:80 -p 443:443 jmutai/caddy 
     
ExecStop=/usr/bin/docker stop caddy-%i

[X-Fleet]
X-Conflicts=subgun-http@*.service
