[Unit]
Description= Hugo service for docker
After=docker.service
Requires=docker.service


[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill hugo
ExecStartPre=-/usr/bin/docker rm hugo
ExecStartPre=/usr/bin/docker pull jmutai/hugo
ExecStart=/usr/bin/docker run \
    --name hugo \
    -p 1313:1313 \
    
     
ExecStop=/usr/bin/docker stop hugo
ExecStopPost=/usr/bin/docker rm -f hugo

[Install]
WantedBy=multi-user.target

